<div class="row">
  <div class="col-md-12">
    <h1><%= @robot.name %></h1>
  </div>
  <div class="col-md-2">
    <h4>Born: <%= @robot.birth_date %></h4>
    <h4>Hired: <%= @robot.date_hired %></h4>
    <h4><%= @robot.department %> Department</h4>
    <h4><%= @robot.city %>, <%= @robot.state %></h4>
  </div>
  <div class="col-md-10">
    <img src="https://robohash.org/<%= @robot.avatar %>.png" alt="robot avatar">
  </div>
</div>
